
@{
    ViewData["Title"] = "CreateUser";
}

<div class="container">
    <form method="post">
        <br /><br>
        <label>Adınız</label>
        <input type="text" class="form-control"/>
        <br />
        <label>Soyadınız</label>
        <input type="text" class="form-control" />
        <br />
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" />
        <br />
        <label>Email Adresi</label>
        <input type="text" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="text" class="form-control" />
        <br />

    </form>
</div>
